<!-- <br />
<br />
<br /> -->
<!--Start Header	-->

<!-- <body> -->
<!--Start Header	-->
<header>
  <app-home-header></app-home-header>
</header>
<!--End Header	-->

<!--Start Hero Banner	-->
<section class="hero-banner" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner-text-wrap">
          <h1 class="text-white">We Provide Best Medical Services</h1>
          <p class="text-white">
            At LyfeClinic, we understand that your time is valuable, and we
            strive to provide you with a seamless booking experience. Whether
            you need to see a specialist, schedule a routine check-up, or seek
            urgent medical attention, our website is designed to accommodate
            all your healthcare needs.
          </p>
          <a routerLink="/login/login" class="btn btn-white">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Hero Banner	-->

<!--Start Features Section	-->
<section class="features-section">
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-4">
        <div class="features-box bg1">
          <h3>Working Hours</h3>
          <ul>
            <li>Mon - Fri 09:00 - 17:00</li>
            <li>Sat - 09:00 - 13:00</li>
            <li>Sun - Closed</li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="features-box bg2">
          <h3>Appointments</h3>
          <p>Click the appointment button to make a booking</p>
          <button (click)="bookAppointmentBtn()" class="btn-appointment">Make an Appointment</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="features-box bg3">
          <h3>Emergency Cases</h3>
          <p>
            For emergency cases please call the number 112 from any network.
            It will transfer your line to a call centre and they will route
            you to the emergency service closest to you
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Features Section	-->

<!--	Start About Section-->
<section class="about-section" id="about-section">
  <div class="container">
    <div class="row gx-5">
      <div class="col-md-6">
        <div class="about-media">
          <img src="../assets/images/about-2.jpg" alt="" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="about-info">
          <h3>About Us</h3>
          <p>
            A clinic appointment booking system, that allows patients to book
            an appointment to go to the public clinics around Johannesburg and
            only be required to go to the clinic at their appointed time with
            the doctor. The reason of this system is to reduce the waiting in
            long queues, reduce waiting patient time and over crowding at
            clinics to only be attended to hours later. Feeling sick? Login in
            and book your appointment with our app and only go to clinic to be
            attended.
          </p>
          <a routerLink="/login/login" class="btn btn-primary">Make an Appointment</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--	End About Section-->

<!--Start services Section-->
<section class="services-section" id="services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title text-center">Services</h2>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <img src="images/neurology-icon.png" alt="" />
          <img src="https://www.flaticon.com/free-icons/sick" alt="" />
          <a href=" https://www.flaticon.com/free-icons/sick" title="sick icons"></a>
          <h3>Common illnesses</h3>
          <p>
            Empowering you with knowledge to conquer common illnesses. Visit
            LyfeClinic for expert advice and practical tips. Take charge of
            your health!
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <img src="images/eyecare-icon.png" alt="" />
          <h3>Screenings & treatments</h3>
          <p>
            Comprehensive screenings and effective treatments await you at
            LyfeClinic. Prioritize your health and discover personalized care
            options today!
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <img src="images/pulmonary-icon.png" alt="" />
          <h3>Dental Care</h3>
          <p>
            Achieve a healthy and radiant smile with exceptional dental care
            at LyfeClinic. Experience the difference of top-quality treatments
            and expert oral health advice.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <img src="images/cardiology-icon.png" alt="" />
          <h3>Annual Physicals</h3>
          <p>
            Invest in your well-being with thorough annual physicals at
            LyfeClinic. Prioritize preventive care and take proactive steps
            towards a healthier future. Schedule today!
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <img src="images/dental-icon.png" alt="" />
          <h3>Vaccinations</h3>
          <p>
            Protect yourself and others. Explore our comprehensive vaccination
            services at LyfeClinic and stay immunized against preventable
            diseases. Your health matters!
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <img src="images/hepatology-icon.png" alt="" />
          <h3>Eye Care</h3>
          <p>
            See clearly and care for your eyes with our exceptional eye care
            services at LyfeClinic. Experience optimal vision and eye health.
            Schedule your appointment today!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End services Section-->

<!--Start Footer	-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-widget">
          <h3>Contact Us</h3>

          <ul class="footer-address">
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <div>
                <h4>Address</h4>
                <p>19 Amashoff street, Braamfontein, Johannesburg</p>
              </div>
            </li>

            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <div>
                <h4>Phone</h4>
                <p><a href="tel:+0123456789">+1123456789</a></p>
              </div>
            </li>

            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <div>
                <h4>Email</h4>
                <p>
                  <a href="tel:+0123456789">lyfeclinic@digilink.africa</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-widget">
          <h3>Services</h3>
          <ul class="footer-menu">
            <li><a href="#">Neurology</a></li>
            <li><a href="#">Eyes care</a></li>
            <li><a href="#">Pulomonary</a></li>
            <li><a href="#">Cardiology</a></li>
            <li><a href="#">Dental Care</a></li>
            <li><a href="#">Hepatology</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-widget">
          <h3>Services</h3>
          <ul class="footer-menu">
            <li><a href="#">Annual physicals</a></li>
            <li><a href="#">Vaccinations</a></li>
            <li><a href="#">Screening & treatments</a></li>
            <li><a href="#">Check Ups</a></li>
            <li><a href="#">Mental Health</a></li>
            <li><a href="#">Testing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--End Footer	-->
<!-- </body> -->
