.box {
  border: 1px solid black;
  margin-bottom: 10%;
  padding: 0.6rem 0.8rem;
  border-radius: 1rem;
}
.box input {
  width: 95%;
}
.box span {
  margin-left: auto;
}
/*
.form-group form .box {
  width: 100%;

  display: flex;

  border-radius: 1rem;

  background-color: var(--light-bg);

  padding: 0.6rem 0.8rem;

  font-size: 1rem;

  color: var(--black);

  border: var(--border);

  margin: 1rem 0;
} */
